# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist-info/
.eggs/
.build/
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
.venv311/
venv311/
venv/
ENV/
env/

# Packaging / wheels
pip-wheel-metadata/
dist/
build/

# OS / Editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

